#todoInput {
    background: lightblue;
    text-align: center;
    margin: 0.1em;
}

#todoOutput {
    margin: 0.1em;
}

#remAllBtn {
    text-align: center;
}

input[type=text],
button {
    padding: 1em 1.5em;
    margin: 1em 0 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.1em 50px;
    text-align: left;
    word-break: normal;
}

li:hover {
    background-color: lightgrey;
}

.remBtnStyle {
    margin: 0.1em 1em 0em;
    text-align: right;
    padding: 0.5em;
    border-radius: 50%;
}